@model IEnumerable<MmmBankDb.Models.Account>
<div>
    @using (Html.BeginForm("SendRequest", "Manage", FormMethod.Post))
    {
        
        <button>Send ask to request unblocked card</button>
    }
</div>